/* TopBar.css */
.dropdown-container {
    margin-right: 16px; /* Füge den gewünschten Abstand zwischen Dropdown und Textinput hinzu */
  }

  .prompt-input {
    margin-right: 16px; /* Füge den gewünschten Abstand zwischen Textinput und Senden-Button hinzu */
  }
